body {
	background: #282828;
	padding-bottom: 80px;
}

p {
	font-size: 1.3em;
	text-align: justify;
}

.a-header {
	height: 90px;
	background: #dedede;
	padding: 0;
	border-bottom: solid 1px #333
}

.a-footer {
	height: 60px;
	background: #dedede;
	padding: 0;
	border-top: solid 1px #555
}

.a-brand {
	background: #333;
	height: 100px;
}

.a-nav>li>a {
	line-height: 30px;
	font-size: 1.7em;
	padding: 30px 15px 30px 10px;
	margin: 0;
	color: #333;
}

.a-nav>li>a:hover {
	background: #eee;
}

.a-nav>li>a:active {
	background: #f8f8f8;
}

.name {
	float: right;
	margin:0;
	font-family: "Nunito Sans", sans-serif;
	border-bottom: solid 1px #eee;
}

.name>h1 {
	text-transform: uppercase;
	margin-top: 15px;
	font-weight: 200;
}

.name>h1 {
	color: #eee;
}

.content, h2 {
	color:#eee;
	font-family: "Nunito Sans", sans-serif;
}

h2 {
	font-weight: 200;
}

.profile {
	margin-right: 20px;
	margin-bottom: 0;
}

.padding {
	padding-top: 40px;
}

.connect, .panel-heading.connect {
	color: #eee;
	background: #282828;
}

.connect>.panel-title {
	font-size: 2em;
}

.connect>a {
	margin-right: 5%;
}

.copyright {
	color: #333;
	margin-top: 20px;
}