.a-header {
	height: 100px;
	background: #dedede;
	padding: 0;
}

.a-brand {
	background: #333;
	height: 100px;
}

.a-nav>li>a {
	font-size: 1.5em;
	padding: 0 15px;
	margin-top: 40px;
	color: #333;
}

.a-nav>li>a:hover {
	background: #dedede;
}

.a-nav>li>a:active {
	background: #dedede;
}

.name {
	float: right;
	margin:0;
}

.name>h1 {
	color: #eee;
}